<div class="list-container">
	<div class="welcome-dasboard">
		<div class="center-cotainer">
			<div class="content-wrap">
				<div class="header-top">
					<h4>
						FLEXIBLE <span class="dote"></span> RELIABLE
						<span class="dote"></span> <i>FAST</i>
					</h4>
					<h3 class="welcometext">
						Welcome to <img src="../../assets/images/logo.png" alt="" />
					</h3>
					<p>
						if you need support reach out through these channels
					</p>
				</div>

				<ul class="list-box">
					<li>
						<div class="text-box">
							<h3>
								Generated Application
							</h3>
							<p>
								To get more information on how to modify this generated
								application, please
								<a href="https://github.com/nfinityllc/fastcode-codegen" target="_blank">visit this
									site</a>
							</p>
						</div>
						<div class="icon-box">
							<img src="../../assets/images/genrate-app.png" alt="" />
						</div>
					</li>

					<li>
						<div class="text-box">
							<h3>
								GitHub
							</h3>
							<p>
								If you like this generated application, please star us on
								<a href="https://github.com/nfinityllc/fastcode-codegen" target="_blank">GitHub</a>
								and contribute to fastCode
							</p>
						</div>

						<div class="icon-box">
							<img src="../../assets/images/github.png" alt="" />
						</div>
					</li>

					<li>
						<div class="text-box">
							<h3>
								New Features
							</h3>
							<p>
								If you find a defect or want to request a new feature, please
								use our
								<a href="https://github.com/nfinityllc/fastcode-codegen/issues" target="_blank">GitHub
									Issues</a>
							</p>
						</div>
						<div class="icon-box">
							<img src="../../assets/images/feature.png" alt="" />
						</div>
					</li>

					<li>
						<div class="text-box">
							<h3>
								Spectrum Community
							</h3>
							<p>
								If you have a question on how to use fastCode or facing an issue
								when using it, please use our
								<a href="https://www.google.com/" target="_blank">Spectrum Community</a>
							</p>
						</div>
						<div class="icon-box">
							<img src="../../assets/images/sheild-1.png" alt="" />
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>